@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #010101;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

/* Hide default calendar icon in Chrome, Safari, Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%) brightness(200%);
  opacity: 1;
  display: block;
}
